In [11]:
import pandas as pd
import numpy as np
import pickle

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
df=pd.read_csv("E:/Uninversity/Semester 3/AI (Lab)/archive (3)/stores.csv")
df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [3]:
df.describe()

           Store           Size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000

In [4]:
df.isnull().sum()

Store    0
Type     0
Size     0
dtype: int64

In [6]:
print(df['Store'].isnull().sum())

0

In [7]:
df.drop('Size', axis=1, inplace=True)

In [8]:
df.head(2)

   Store Type
0      1    A
1      2    A

In [9]:
print(df.isnull().sum())

Store    0
Type     0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
dtypes: int64(1), object(1)
memory usage: 852.0+ bytes

In [13]:
df_encoded = df.copy()

In [14]:
def encodeCols(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_label_encoder = LabelEncoder()
        data_label_encoder.fit(np.ravel(data))
        df_encoded[i] = data_label_encoder.transform(df[i]) 

columns = ['Type']
encodeCols(columns)

In [15]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     int64
 2   Size    45 non-null     int64
dtypes: int64(3)
memory usage: 1.2 KB

In [16]:
traindata, testdata = train_test_split(df_encoded, test_size=0.2, shuffle=False)

In [17]:
traindata.head(2)

   Store  Type    Size
0      1     0  151315
1      2     0  202307

In [18]:
testdata.head(2)

    Store  Type   Size
36     37     2  39910
37     38     2  39690

In [19]:
train_x = traindata.iloc[:, 1:]
train_x.head()

   Type    Size
0     0  151315
1     0  202307
2     1   37392
3     0  205863
4     1   34875

In [20]:
train_y = traindata.iloc[:, 0]
train_y.head()

0    1
1    2
2    3
3    4
4    5
Name: Store, dtype: int64

In [25]:
test_x = testdata.iloc[:, 1:]
test_x.head()

    Type    Size
36     2   39910
37     2   39690
38     0  184109
39     0  155083
40     0  196321

In [26]:
test_y = testdata.iloc[:, 0]
test_y.head()

36    37
37    38
38    39
39    40
40    41
Name: Store, dtype: int64

In [21]:
print("-- Training using SVC on Training Data --")
print("-- Parameters & Values: ", end='')

model_svc = SVC(gamma='auto', random_state=0)
model_svc.fit(train_x, np.ravel(train_y))

print(model_svc)

-- Training using SVC on Training Data --
-- Parameters & Values: SVC(gamma='auto', random_state=0)

In [22]:
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [23]:
model = pickle.load(open('model_svc.pkl', 'rb'))

In [27]:
model_predictions = model.predict(test_x)

testdata_predict = testdata.copy(deep=True)
pd.options.mode.chained_assignment = None

testdata_predict['Prediction'] = model_predictions

In [30]:
model_accuracy_score = accuracy_score(testdata_predict['Size'], testdata_predict['Prediction'])

print("-- Model Accuracy Score: ", end='')
print(round(model_accuracy_score,3))

-- Model Accuracy Score: 0.0